@{
    ViewData["Title"] = "Home Page";
}
<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
</head>

<script>
    
</script>

<div class="text-center w-fundo-home w-height">
    <section>
        <div class="row">
            <div class="col-md-12 w-margin-img">
                <img src="~/imagens/perfil2.png" class="img-fluid rounded-circle w-borda-img" />
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <h2 class="w-fs-40 w-cf-white animated flipInX" style="animation-duration:2s">WILLIAN <span class="w-cf-orange-2"> BELLO</span></h2>
                <div class="w-cf-white w-fs-20 mt-3">
                    <p id="texto1">Desenvolvedor Web</p>
                    <p id="texto2">Freelancer</p>
                    <p id="texto3">UX/UI Design</p>
                </div>
            </div>
        </div>
    </section>
    
</div>

