@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/home.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
</head>

<script>
    
</script>

<div class="row text-center w-fundo-home w-height">
    <div class="col-md-12 mt-5">
        <img src="~/imagens/perfil.png" class="img-fluid rounded-circle w-borda-img" style="width:300px" />
    </div>
    <div class="col-md-12">
        <h2 class="w-fs-40 w-cf-white">WILLIAN <span class="w-cf-orange-2"> BELLO</span></h2>
        <div class="w-cf-white w-fs-20 mt-3">
            <p id="texto1">Desenvolvedor Web</p>
            <p id="texto2">Freelancer</p>
            <p id="texto3">UX/UI Design</p>
        </div>
    </div>
</div>

